---
export const prerender = false;
import "../styles/global.css";
import Head from "../componenets/Head.astro";
import {supabase} from "../lib/supabase";

const cookie = Astro.cookies.get("User");
if (!cookie) {
  return Astro.redirect("/login");
}
const { data, error } = await supabase
  .from("posts")
  .select()
  .eq("user_id", cookie.value);

console.log(data[0].username);
---

<!doctype html>
<html lang="en">
  <head>
    <Head title="Astrobook" />
  </head>
  <body>
    <div id="app">
      <!-- Will be populated by JavaScript -->
    </div>
  </body>
</html>
